<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyKho.Properties.Settings.KHO_TQKConnectionString" connectionString="Data Source=ECYRC-PC\SQLEXPRESS;Initial Catalog=KHO_TQK;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
